<div class="container-fluid">
  <div class="gid-navbar row">
    <a href="/">GET IT DONE</a>
  </div>
  <div class="row gid-filter">
    <div class="col-sm-12 col-md-4 gid-statuses">
      <div class="gid-status">To do (5)</div>
    </div>
    <div class="col-sm-12 col-md-4 gid-statuses">
      <div class="gid-status">Doing (14)</div>
    </div>
    <div class="col-sm-12 col-md-4 gid-statuses">
      <div class="gid-status">Done (11)</div>
    </div>
  </div>
  <div class="todo-list container">
    <div class="row">
      <div class="col-sm-12 todo">
        <div
          class="
            todo-card
            row
            my-4
            text-left
            p-md-4
            pt-sm-4
            pb-sm-4
            p-sm-1
            mx-auto
            d-flex
          "
        >
          <p class="settings"><i class="fas fa-cog"></i></p>
          <p class="tag deadline-tag">
            <i class="fas fa-clock mr-1"></i> 22-12-2021
          </p>

          <p class="tag todo-tag">
            <i class="fas fa-question-circle mr-1"></i> To Do
          </p>
          <div class="col-sm-12 col-md-6 py-3">
            <h3 class="todo-title">Make todo application</h3>
            <div class="subtask-div">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="mr-2" name="itemID" id="itemID" />
                <label for="itemID">Set up todo page</label>
              </div>
              <div class="d-flex align-items-center">
                <input
                  type="checkbox"
                  class="mr-2"
                  name="itemID2"
                  id="itemID2"
                />
                <label for="itemID2">Make API</label>
              </div>
              <div class="d-flex align-items-center">
                <input
                  type="checkbox"
                  class="mr-2"
                  name="itemID3"
                  id="itemID3"
                />
                <label for="itemID3">Get 20/20</label>
              </div>
            </div>
            <a href=""><i class="far fa-plus-square"></i> Add sub task</a>
          </div>
          <div class="col-sm-12 col-md-6 mt-3 pr-5">
            <h3>Comments</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum enim
            eaque sint omnis ab, distinctio illum culpa totam, natus excepturi
            aliquam. Animi inventore enim repudiandae?
          </div>
        </div>
      </div>
      <div class="col-sm-12 todo">
        <div
          class="
            todo-card
            row
            my-4
            text-left
            p-md-4
            pt-sm-4
            pb-sm-4
            p-sm-1
            mx-auto
            d-flex
          "
        >
          <p class="settings"><i class="fas fa-cog"></i></p>
          <p class="tag deadline-tag">
            <i class="fas fa-clock mr-1"></i> 10-12-2021
          </p>

          <p class="tag done-tag"><i class="fas fa-check-circle"></i> Done</p>
          <div class="col-sm-12 col-md-6 py-3">
            <h3 class="todo-title">Go to angular convention</h3>
            <div class="subtask-div">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="mr-2" name="itemID" id="itemID" />
                <label for="itemID">Take train</label>
              </div>
            </div>
            <a href=""><i class="far fa-plus-square"></i> Add sub task</a>
          </div>
          <div class="col-sm-12 col-md-6 mt-3 pr-5"></div>
        </div>
      </div>
      <div class="col-sm-12 todo">
        <div
          class="
            todo-card
            row
            my-4
            text-left
            p-md-4
            pt-sm-4
            pb-sm-4
            p-sm-1
            mx-auto
            d-flex
          "
        >
          <p class="settings"><i class="fas fa-cog"></i></p>
          <p class="tag deadline-tag">
            <i class="fas fa-clock mr-1"></i> 22-12-2021
          </p>

          <p class="tag doing-tag"><i class="fas fa-wrench"></i> Doing</p>
          <div class="col-sm-12 col-md-6 py-3">
            <h3 class="todo-title">Don't drink</h3>
            <div class="subtask-div">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="mr-2" name="itemID" id="itemID" />
                <label for="itemID">Don't buy beer</label>
              </div>
              <div class="d-flex align-items-center">
                <input
                  type="checkbox"
                  class="mr-2"
                  name="itemID2"
                  id="itemID2"
                />
                <label for="itemID2" class="done">Don't go to parties</label>
              </div>
            </div>
            <a href=""><i class="far fa-plus-square"></i> Add sub task</a>
          </div>
          <div class="col-sm-12 col-md-6 mt-3 pr-5"></div>
        </div>
      </div>
      <div class="new-todo col-sm-12">
        <div
          class="
            new-todo-card
            todo-card
            row
            my-4
            py-4
            text-left
            p-md-4
            pt-sm-4
            pb-sm-4
            p-sm-1
            mx-auto
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <h3 class="text-gid-blue"><b>New Todo</b></h3>
          <div><i class="fas fa-plus-circle fa-2x text-gid-blue"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
