@import "../../variables";
.gid-navbar {
  border-bottom: 1px solid $gid-light;
  padding: 4px 2.5rem;
  a {
    color: $gid-blue;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
  }
}
.gid-filter {
  background-color: $gid-blue;
  border-radius: 8px;
  margin: 1rem 0.45rem;
  > * {
    padding: 0.3rem;
  }
}
.gid-status {
  color: $gid-black;
  background-color: $gid-white;
  border-radius: 2rem;
  width: 40%;
  text-align: center;
  margin: 0.2rem auto;
  cursor: pointer;
}
.todo-card {
  color: black;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 1px #777777;
  box-shadow: 0px 0px 7px 1px #777777;
}
.new-todo {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gid-status {
    width: 40%;
  }

  .todo-card {
    width: 75%;
    position: relative;
  }
}
