<div class="container-fluid">
  <div class="gid-navbar row">
    <a href="/">GET IT DONE</a>
  </div>
  <div class="row gid-filter">
    <div class="col-sm-12 col-md-3 gid-statuses">
      <div class="gid-status" (click)="onlyShowTodo()">To do ({{ todo }})</div>
    </div>
    <div class="col-sm-12 col-md-3 gid-statuses">
      <div class="gid-status" (click)="onlyShowDoing()">
        Doing ({{ doing }})
      </div>
    </div>
    <div class="col-sm-12 col-md-3 gid-statuses">
      <div class="gid-status" (click)="onlyShowDone()">Done ({{ done }})</div>
    </div>
    <div class="col-sm-12 col-md-3 gid-statuses">
      <div class="gid-status" (click)="showAll()">
        All ({{ todosFilterReset.length }})
      </div>
    </div>
  </div>
  <div class="todo-list container">
    <div class="row" cdkDropList (cdkDropListDropped)="drop($event)">
      <app-todo
        cdkDrag
        (putTodo)="putTodo(todo)"
        class="w-100"
        *ngFor="let todo of todos"
        [todo]="todo"
      ></app-todo>
      <div class="new-todo col-sm-12">
        <div
          (click)="resetModal()"
          data-toggle="modal"
          data-target="#newTodo"
          class="
            new-todo
            todo-card
            row
            my-4
            py-4
            text-left
            p-md-4
            pt-sm-4
            pb-sm-4
            p-sm-1
            mx-auto
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <h3 class="text-gid-blue"><b>New Todo</b></h3>
          <div><i class="fas fa-plus-circle fa-2x text-gid-blue"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="newTodo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newTodoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTodoLabel">New todo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="todoForm">
          <input type="hidden" formControlName="order" />
          <div class="form-group">
            <label for="name">Title <sup class="text-gid-red">*</sup></label>
            <input
              required
              id="title"
              name="title"
              placeholder="Title"
              formControlName="title"
              minlength="2"
              maxlength="45"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select
              formControlName="statusId"
              name="status"
              id="status"
              class="form-control"
            >
              <option value="1">To Do</option>
              <option value="2">Doing</option>
              <option value="3">Done</option>
            </select>
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input
              id="deadline"
              name="deadline"
              type="date"
              placeholder="Deadline"
              formControlName="deadline"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea
              rows="3"
              id="comment"
              name="comment"
              placeholder="Comment"
              formControlName="comment"
              minlength="2"
              maxlength="150"
              class="form-control"
            ></textarea>
          </div>
          <div>
            <ngx-colors
              [(ngModel)]="color"
              ngx-colors-trigger
              style="display: inline-block; margin: 5px"
              formControlName="color"
            ></ngx-colors>
          </div>
          <button
            [disabled]="!todoForm.valid"
            type="submit"
            (click)="onSubmit()"
            data-dismiss="modal"
            class="btn btn-gid-blue"
          >
            Save todo
          </button>
          <button
            data-dismiss="modal"
            (click)="deleteTodo()"
            *ngIf="isEdit"
            class="btn btn-gid-red ml-2"
          >
            Delete todo
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
