<div class="row project-box">
  <div class="col-md-4 project-banner-icon">
    <div class="project-icon d-flex"><i class="fas fa-th-list"></i></div>
  </div>
  <div class="col-sm-12 col-md-8">
    <i (click)="delete(project.id)" class="fas fa-trash trash"></i>

    <div *ngIf="project">
      <div class="project-title text-center">
        <h3>{{ project.name }}</h3>
      </div>
      <div>
        <p class="icons-text text-left">
          <i class="icons fas fa-tasks"></i><b> Tasks: {{ tasks }}</b>
        </p>
        <p class="icons-text text-left">
          <i class="icons fas fa-calendar-alt"></i
          ><b> {{ project.createdAt }}</b>
        </p>
        <a
          routerLink="/projects/{{ project.id }}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="icons-button arrow"
        >
          <p>Visit project <i class="fas fa-arrow-alt-circle-right"></i></p>
        </a>
      </div>
    </div>
  </div>
</div>
