<div class="row project-box">
  <div class="col-sm-4 project-banner-icon">
    <div class="project-icon d-flex"><i class="fas fa-th-list"></i></div>
  </div>
  <div class="col-sm-8">
    <div *ngIf="project">
      <div class="project-title text-center">
        <h3>{{ project.name }}</h3>
      </div>
      <div>
        <p class="icons-text text-left">
          <i class="icons fas fa-users"></i><b> Contributors: 5</b>
        </p>
        <p class="icons-text text-left">
          <i class="icons fas fa-tasks"></i><b> Tasks: 38</b>
        </p>
        <p class="icons-text text-left">
          <i class="icons fas fa-calendar-alt"></i
          ><b> {{ project.createdAt }}</b>
        </p>
        <div class="icons-button arrow">
          <p>Visit project <i class="fas fa-arrow-alt-circle-right"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
